i,
.navbar .container-xl a {
  color: grey;
}

.navbar .container-xl a {
    font-family: 'Georama', sans-serif;
    font-size: 2rem;
}

i:hover{
    color: #0d6efd;
}
.navbar .container-xl a {
    margin-left: 10px;
}
.navbar .container-xl i {
  line-height: 100%;
  
}

img{
  margin: auto;
}